:root.theme-dark {
  --page-bg-color: #000028;
  --page-bg-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-soft-color: #ff8dcb;
  --title-color: #db00ff;
  --text-color: #F1B2CE;
  --corner-color: var(--accent-color);
  --rec-color: var(--accent-color);
}
