:root.theme-light {
  --page-bg-color: #fbf2f3;
  --page-bg-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-soft-color: #ff8dcb;
  --color-card-title: #353430;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --corner-color: #353430;
  --rec-color: transparent;
  --section-title-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: #fbf2f3;
    --page-bg-image: url("../images/cover-image-light.png");
    --accent-color: #FF8DCB;
    --accent-soft-color: #FF8DCB;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --corner-color: #353430;
    --rec-color: transparent;
  }
}
